---
import { name, description } from "../data";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{name}</title>

    <meta property="og:type" content="website" />
    <meta property="og:title" content={name} />
    <meta property="og:description" content={description} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={name} />
    <meta property="twitter:description" content={description} />
  </head>
  <body class="antialiased">
    <main
      class="mx-auto flex min-h-dvh w-full max-w-xl flex-col justify-center gap-6 p-5"
    >
      <slot />
    </main>
  </body>
</html>
